#main_tab{
  /* box-shadow:inset 1px 1px 2px 1px ; */
  text-shadow:0.01px 0.01px 0.01px;

}

#main{
  display:flex;
  align-items:center;
  /* justify-content:center; */
  /* overflow:auto; */
  /* position:relative; */
  /* background-color: red; */
}
.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  border-radius: 5px 5px 0 0  ;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  text-align:center;
  overflow-x:auto;

}

.content-table thead  {
  background-color: rgb(38, 238, 245);
  font-weight: bold;

}
.content-table tbody tr{
  background-color: rgb(255, 253, 253);
}
.content-table th,.content-table td {
  padding: 12px 15px;
  border-bottom:1px solid black;
}


.content-table  thead tr{
  border-bottom:1px solid black;
}
#tab{
  display:flex;
  flex-direction:row;
  align-items:center;
  
}

button{
  color:black;
  background-color:rgb(255, 253, 253);
  opacity:0.9;
  box-shadow:0.5px 0.5px 1px 1px rgb(69, 206, 172);;
  border:1px solid rgb(69, 206, 172);;
  /* margin-top:23px; */
  margin-left:15%;
}

input.text{
  box-shadow:1px 1px 1px solid black;
}
label{
  text-align:center;
  margin:2px;
  font-size:0.8em;
}
 th {
 background-color: rgb(69, 206, 172);
  position:sticky;
  top:0;
}
#girls,#boys{
   margin:2px;
   margin-bottom: 2px;
   margin-left:13px;
   
}
#help{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  padding:20px;
}
a{
  text-decoration:none;
  font-size:13px;
  margin-left:10px;
  /* font-weight:bold; */
    color:black;
}
a:hover{
    text-decoration:none;
}

::placeholder{
  opacity:0.5;
}